<footer>
	<div class="container-infos-footer row mt-5 mx-4 pb-5">
		<div class="logo_et_reseaux">
			<div class="logo-footer"><img class="logo_blanc" src="../assets/images/logo_blanc.svg" alt="logo du garage automobile de monsieur parrot vincent"></div>
			<div class="reseaux">
				<ul class="list-unstyled d-flex justify-content-between mx-auto">
					<li>
						<a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.svg" alt="logo du garage automobile de monsieur parrot vincent"></a>
					</li>
					<li>
						<a href="https://twitter.com/" target="_blank"><img class="twitter" src="../assets/images/twitter.svg" alt="logo du garage automobile de monsieur parrot vincent"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.svg" alt="logo du garage automobile de monsieur parrot vincent"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid container-hia">
			<div class="horaires g-col-12 text-center my-4">
				<h3 class="mb-3">Horaires</h3>
				{% for schedule in posts %}
					<div class="jours-ouvertures d-flex justify-content-center">
						{% if schedule.close == true %}
							<p class="mb-2">{{ schedule.day|slice(0, 3) }}</p>
							<p class="ms-2 mb-2">Fermé</p>
						{% elseif schedule.closedAtLunchTime == false and schedule.close == false %}
							<p class="mb-2">{{ schedule.day|slice(0, 3) }}</p>
							<p class="ms-2 mb-2">{{ schedule.openingMorning|date('H:i') }}
								-</p>
							{% if schedule.closingMorning is not empty %}
								<p class="ms-1 mb-2">{{ schedule.closingMorning|date('H:i') }}</p>
							{% else %}
								<p class="ms-1 mb-2">{{ schedule.closingAfternoon|date('H:i') }}</p>
							{% endif %}

						{% else %}
							<p class="mb-2">{{ schedule.day|slice(0, 3) }}</p>
							<p class="ms-2 mb-2">{{ schedule.openingMorning|date('H:i') }}
								-</p>
							<p class="ms-1 mb-2">{{ schedule.closingMorning|date('H:i') }},</p>
							<p class="ms-1 mb-2">{{ schedule.openingAfternoon|date('H:i') }}
								-</p>
							<p class="ms-1 mb-2">{{ schedule.closingAfternoon|date('H:i') }}</p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="infos-garage g-col-12 mb-5 text-center">
				<h3 class="mb-3">Informations</h3>
					<ul class="list-infos-garage nav flex-column">
						<li class="li-nom-garage mb-2">
							{{ garage.name }}
						</li>
						<li class="li-num mb-2">
							Tel: {{ garage.tel }}
						</li>
						<li class="li-email mb-2">
							Email: {{ garage.email }}
						</li>
						<li class="li-adresse mb-2">
							{{ garage.adress }}
						</li>
					</ul>
			</div>
			<div class="acces-rapide g-col-12 mt-4 mb-5 text-center">
				<h5>Accès rapide</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="/" class="nav-link p-0 text-white">Accueil</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Nos Services</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Les occasions</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Déposer un avis</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-mentions my-4 mx-4">
		<div class="link-mentions">
			<div class="politique-mentions">
				<a href="" class="text-white">Mentions légales</a>
				<a href="" class="text-white">Politique de confidentialité</a>
			</div>
			<div class="droits">
				<a href="" class="text-white">©2023 Garage V.Parrot. Tous droits réservés.</a>
			</div>
		</div>
	</div>
</footer>
