{% extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{# Récupération des paramètres de l'url #}
{% set queryParams = app.request.query.all %}

{% block body %}

	<section class="section-annonces col-11 mx-auto mt-5">
		<div class="intro-annonces text-center my-4 g-4">
			<h1>Nos véhicules d'occasion</h1>
			<p>Pour une recherche personnalisée de votre véhicule, aidez vous des filtres ci-dessous.</p>
		</div>
		<div class="wrapper-filtres-annonces col-12 d-flex flex-column flex-lg-row mx-auto py-5 js-filter">
			<div class="filtres d-flex flex-column align-items-center gap-3 col-12 col-lg-4 col-xxl-3 mb-5">
				<button class="btn btn-primary w-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">Trier par Marque</button>

				<div class="offcanvas offcanvas-start mt-5" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
					<div class="offcanvas-header ms-5 mt-5">
						<h5 id="offcanvasLeftLabel">Liste des catégories</h5>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body ms-5">
						<form class="js-filter-form">  
                            {% for brand in brands %}
								{# Vérifie si la l'id est présente dans queryParams #}
								{% if queryParams is not empty and queryParams.brands is defined %}			
									{% set checked = (brand.id in queryParams.brands) ? "checked" : "" %}
								{% else %}
									{% set checked = "" %}
								{% endif %}
								
                                <p><input type="checkbox" name="brands[]" id="brand-{{brand.id}}" value="{{brand.id}}" {{checked}}>
                                <label class="ms-2" for="brand-{{brand.id}}">{{ brand.name }}</label></p>
                            {% endfor %}
                        </form>
					</div>
				</div>
				<button class="btn btn-primary w-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeftModels" aria-controls="offcanvasLeftModels">Trier par Modèle</button>

				<div class="offcanvas offcanvas-start mt-5" tabindex="-1" id="offcanvasLeftModels" aria-labelledby="offcanvasLeftLabelModels">
					<div class="offcanvas-header ms-4 mt-5">
						<h5 id="offcanvasLeftLabelModels">Liste des modèles</h5>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body ms-4">
						{% include "annonces/_modelsFilter.html.twig" %}
					</div>
				</div>

				<button class="btn btn-primary w-50 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeftEnergies" aria-controls="offcanvasLeftEnergies">Trier par Carburant</button>

				<div class="offcanvas offcanvas-start mt-5" tabindex="-1" id="offcanvasLeftEnergies" aria-labelledby="offcanvasLeftLabelEnergies">
					<div class="offcanvas-header ms-5 mt-5">
						<h5 id="offcanvasLeftLabeEnergies">Liste des carburants</h5>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body ms-5">
						<form class="js-filter-form">  
                            {% for energie in energies %}
								{% if queryParams is not empty and queryParams.energies is defined %}			
									{% set checked = (energie.id in queryParams.energies) ? "checked" : "" %}
								{% else %}
									{% set checked = "" %}
								{% endif %}

                                <p><input type="checkbox" name="energies[]" id="energie-{{energie.id}}" value="{{energie.id}}"  {{checked}}>
                                <label class="ms-2" for="energie-{{energie.id}}">{{ energie.name }}</label></p>
                            {% endfor %}
                        </form>
					</div>
				</div>
				<p class="mt-4 mb-5 fw-bold">Trier par Prix</p>
				<form class="js-filter-form w-50">
					<input class="w-50" name="minPrice[]" type="hidden" id="minPrice" value="{{minPrice}}">
					<input class="w-50" name="maxPrice[]" type="hidden" id="maxPrice" value="{{maxPrice}}">	
					<div class="ms-2" id="price-slider" data-min="{{minPrice}}" data-max="{{maxPrice}}"></div>
				</form>
				<p class="mt-4 mb-5 fw-bold">Trier par Année</p>
				<form class="js-filter-form w-50">
					<input class="w-50" name="minYears[]" type="hidden" id="minYears" value="{{minYears}}">
					<input class="w-50" name="maxYears[]" type="hidden" id="maxYears" value="{{maxYears}}">	
					<div class="ms-2" id="years-slider" data-min="{{minYears}}" data-max="{{maxYears}}"></div>
				</form>
				<p class="mt-4 mb-5 fw-bold">Trier par Kilométrage</p>
				<form class="js-filter-form w-50">
					<input class="w-50" name="minMileage[]" type="hidden" id="minMileage" value="{{minMileage}}">
					<input class="w-50" name="maxMileage[]" type="hidden" id="maxMileage" value="{{maxMileage}}">	
					<div class="ms-2" id="mileage-slider" data-min="{{minMileage}}" data-max="{{maxMileage}}"></div>
				</form>
			</div>
			<div class="annonces col-10 col-lg-8 col-xxl-9 row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3 mx-auto g-3 g-lg-4 js-filter-content">
				{% include "annonces/_annonces.html.twig" %}
			</div>
		</div>

	</section>
{% endblock %}
