{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="section-intro d-flex align-items-center">
		<div class="px-4 mt-5 text-center container-intro">
			<h1 class="display-5 fw-bold text-primary">BIENVENUE CHEZ NOTRE GARAGE AUTOMOBILE VINCENT PARROT</h1>
			<div class="col-10 mx-auto">
				<p class="lead mb-5">Que vous recherchiez des services d'entretien, de réparation, ou que vous souhaitiez acheter une voiture d’occasion, vous êtes au bon endroit !</p>
				<div class="d-flex justify-content-center">
					<a href="annonces" class="btn-all-annonces">Voir les annonces</a>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<div id="section-services" class="section-services py-5">
		<h2>NOS SERVICES</h2>
		<div class="col-10 row row-cols-1 row-cols-lg-2 row-cols-xl-3 mx-auto g-5">
			{% set countService = 0 %}
			{% for service in services %}
				<div class="col">
					<div class="card card-service">
						{% set imageService = imagesServices[countService] %}
						<img src="images/product/{{imageService}}" class="card-img-top" alt="affiche service {{ service.title }}">
						<div class="card-body text-center">
							<h3 class="card-title card-title-service">{{ service.title }}</h3>
							<p class="card-text">{{ service.description|raw }}</p>
						</div>
					</div>
				</div>
				{% set countService = countService + 1 %}
			{% endfor %}
		</div>
	</div>
	<div class="section-vehicles py-5">
		<h2>NOS VÉHICULES D’OCCASION</h2>
		<div class="col-10 row row-cols-1 row-cols-lg-2 row-cols-xl-3 mx-auto g-5">
			{% set countVehicle = 0 %}
			{% for vehicle in vehicles %}
				<div class="col">
					<div class="card card-annonce">
						{% set imageVehicle = imagesVehicles[countVehicle] %}
						{% set nameBrand = nameBrands[countVehicle] %}
						{% set nameModel = nameModels[countVehicle] %}
						{% set price = prices[countVehicle] %}
						<img src="images/product/{{imageVehicle}}" class="card-img-top" alt="affiche véhicule {{ nameBrand ~ nameModel ~ vehicle.title }}">
						<div class="card-body text-center">
							<h3 class="card-title card-title-annonce">{{ nameBrand }}
								{{ nameModel }}
								{{ vehicle.title }}</h3>
							<div class="infos-supp-vehicle d-flex justify-content-between mx-auto">
								<p class="card-text">{{ price }}
									€ |</p>
								<p class="card-text">
									{{ vehicle.years }}
									|</p>
								<p class="card-text">
									{{ vehicle.mileage }}
									kms</p>
							</div>
						</div>
						<div class="d-flex justify-content-center">
							<a href="/annonces/{{ vehicle.id }}" class="btn-annonce">Voir</a>
						</div>
					</div>
				</div>
				{% set countVehicle = countVehicle + 1 %}
			{% endfor %}
		</div>
		<div class="d-flex text-center justify-content-center">
			<a href="annonces" class="btn-all-annonces">Toutes les annonces</a>
		</div>
	</div>
	<div id="testimonials" class="section-testimonials col-10 col-md-8 col-xxl-6 my-5 mx-auto">
		<h2>LES AVIS DE NOS CLIENTS</h2>
		<div class="carousel-avis">
			<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for i in range(0, testimonials|length-1, 2) %}
						{% set avis1 = testimonials[i] %}
						{% set avis2 = (i + 1 < testimonials|length) ? testimonials[i + 1] : null %}
						<div class="carousel-item {{ (i == 0) ? 'active' : '' }}">
							<div class="all-container-avis">
								<div class="container-avis">
									<div class="note-client">
										<img src="../assets/images/etoile{{ avis1.score }}.jpg" alt="Note client égale à {{ avis1.score }}">
									</div>
									<h3 class="name-client">
										{{ avis1.surname }}
										{{ avis1.name }}
									</h3>
									<div class="d-flex align-items-center">
										{{ avis1.message|raw }}
									</div>
								</div>
								{% if avis2 %}
									<div class="container-avis-2">
										<div class="note-client">
											<img src="../assets/images/etoile{{ avis2.score }}.jpg" alt="Note client égale à {{ avis2.score }}">
										</div>
										<h3 class="name-client">
											{{ avis2.surname }}
											{{ avis2.name }}
										</h3>
										{{ avis2.message|raw }}
									</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

		</div>
		<div class="testimonials-form col-10 mx-auto mb-5">
			{% include "partials/_alertMessage.html.twig" %}
			{{ form(form) }}
			</div>
		</div>
		<div class="space my-5 text-white" height="50">empty</div>

	{% endblock %}
